<div>
  <h2>Register</h2>
  <form (submit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name</label>
      <input type="text" [(ngModel)]="user.name" name="name" class="form-control" id="name"  placeholder="Enter Name">
    </div>
    <div class="form-group">
      <label for="username">Username</label>
      <input type="text" [(ngModel)]="user.username" name="username" class="form-control" id="username" placeholder="Enter Username">
    </div>
    <div class="form-group">
      <label for="email">Email</label>
      <input type="email" [(ngModel)]="user.email" name="email" class="form-control" id="email" placeholder="Enter Email">
    </div>
    <div class="form-group">
      <label for="pwd">Password</label>
      <input type="password" [(ngModel)]="user.password" name="email" class="form-control" id="pwd"  placeholder="Enter Password">
    </div>
    <input type="submit" class="btn btn-primary" value="Submit">
  </form>
</div>
